@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #8B6EB8,#5D6384 );
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2f3242a6;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #8646EB;
    text-shadow: 1px 1px 2px #743dccc9 ;

}

h2 {
    color: #917641;

}

p {
    text-align: justify;
}
